/* 
headder background: #FFFFFF;
body background: #E5E5E5;
team background: #F5F4FA;
footer background: #2F303A;
заголовки  background: #212121;
описание background: #757575;
logo background: #2196F3;
background: #2F303A;
hover,focus: #2196F3


*/

:root {
  --main-color-body: #E5E5E5;
  --main-color-title: #212121;  
  --main-color-text: #757575;
  --main-color-header: #FFFFFF;
  --main-color-footer: #2F303A;
  --hover-focus: #2196F3;
  --team-bcg: #F5F4FA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* body */
.body {
  background-color: var(--main-color-header);
  color: var(--main-color-title);
  font-family: "Roboto", sans-serif;

 
  /* width: 1200px; */
  margin: 0 auto;
  padding: 0 15px;

}

.container {

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */
.page-header {
  background-color: var(--main-color-header);
    
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items:  center;
border-bottom: 1px solid #ECECEC;
}

.page-header .container {
  display: flex;
}

.main-nav {
  display: flex;
  /* margin-right: 93px; */
}

.site-nav .link.current {
  color: var(--hover-focus);
}

.link {
 
  color: var(--main-color-title);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-left: 50px;
  letter-spacing: 0.02em;
  
}

.site-nav{
  display: flex;
  
}

.nav-auth{
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  letter-spacing: 0.02em;
  align-items: center;
}

.auth {
  color: var(--main-color-text);
 
}

.link:hover, .link:focus {
  color: var(--hover-focus);
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  text-decoration: none;
  
  padding-left: 15px;
}

.logo-word {
  color: var(--hover-focus);
}



/* footer */
.basement {
  background-color: var(--main-color-footer);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
 
  padding-top: 60px;
 

}
.basement.port {
  margin-top: 94px;
}

.address {
  color: var(--main-color-header);
  
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.info-nav {
  padding: 0;  
}

.info {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
 
}

.logo-basement {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  text-decoration: none;
  
}



/* main */
.hero,
.title-hero {
  color: var(--main-color-header);
  /* background-color: #2F303A; */
  background-image: url(../images/bcghero.jpg);
 
  font-family: "Roboto", sans-serif;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  justify-content: center;
  margin: 0;
  letter-spacing: 0.06em;

 
  text-transform: uppercase;
}

.title-hero {
  padding-top: 200px;
  
}
.hero{
  max-width: 1600px; 
  min-height: 600px;
  align-items: center;
}
.team {
  background-color: var(--team-bcg);
}

.button {
  color: var(--main-color-header);
  background-color: var(--hover-focus);
 
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
 
}

.hero-link {
  color: var(--main-color-header);
  background-color: var(--hover-focus);
 
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;

  margin-top: 30px;  
  border-radius: 4px;
 padding: 10px 32px;
}

.display-tasks,
.display-works {
  display: flex;
  margin: 0;
  justify-content: space-between;
  letter-spacing: 0.03em;

}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  

  margin: 0;
  padding-top: 94px;
}

.display-tasks {
  padding: 0;
  padding-top: 94px;
  margin: 0;


}

.priority-tasks {
 
  margin-left: 30px;
  width: 270px;
  flex-direction: row; 
  letter-spacing: 0.03em;
}

.priority-tasks:nth-child(1) {
  margin: 0;

}


.title-tasks {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
  
}

.main-task {
  color: var(--main-color-text);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
 
}


.display-works {
  padding: 0;
  margin-top: 50px;
  padding-bottom: 94px;
}

.work{
  margin-left: 30px;
  display: flex; 
}

.work:nth-child(1) {
  margin: 0;
}

.container-team  {
  background-color: var(--team-bcg);
  
}

.team {
 
 margin: 0;

 font-weight: 700;
 font-size: 36px;
 line-height: 1.2;
 text-align: center;

 padding-top: 94px;

 
}

.title-team {
  background-color: var(--team-bcg);
 display: flex;
  padding: 0;
  margin: 0;
  padding-top: 50px ; 
  padding-bottom: 94px;
  justify-content: space-between;
  letter-spacing: 0.03em;

  
  /* flex-basis: calc(100% / 3); */
}

.teamates {
  display: block;
  margin-left: 30px;
  background-color: var(--main-color-header);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; 
 
  text-align: center;
  letter-spacing: 0.03em;
}

.teamates:nth-child(1) {
  margin: 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-job {
  color: var(--main-color-text);

  font-size: 16px;
  line-height: 1.2;
}

/* portfolio */



.btn-nav {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  border: transparent;
}

.btn-nav:first-child {
  margin: 0;
}

.btn:hover, .btn:focus {
color: var(--main-color-header) ;
background-color: var(--hover-focus);

border: transparent;
}

.btn {
  color: var(--main-color-title);
  background-color: var(--team-bcg);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto", sans-serif;

  border: transparent;
  margin-left: 8px;
  border-radius: 4px;
  padding: 6px 22px;

  display: flex;
  align-items:  center;

}

.btn:first-child {
  margin: 0;
}
.title-works {
  color: var(--main-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.flex-contaner {
  /* display: flex;
  flex-wrap: wrap;
  margin-top: 34px; */
  padding: 0;
  margin: 0;
 
  list-style: none;

  --flex-element: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--flex-element));
  margin-top: calc(-1 * var(--flex-element));
 
}

/* .card-set  {
   --flex-element: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--flex-element));
  margin-top: calc(-1 * var(--flex-element));

  .card-set {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
} */

.flex-element {
  /* flex-basis: calc(100% / 3);
 
  display: block;
  --flex-element: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--flex-element));
  margin-top: calc(-1 * var(--flex-element)); */
 
   
  flex-basis: calc(100% / 3 - var(--flex-element));
  margin-left: var(--flex-element);
  margin-top: var(--flex-element);

}

.flex-element:nth-child(3n) {
  margin-right: 0;
}


.port-works {
 max-width: 370px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;

  padding: 20px 24px;
 margin: 0;
}
