/* 
headder background: #FFFFFF;
body background: #E5E5E5;
team background: #F5F4FA;
footer background: #2F303A;
заголовки  background: #212121;
описание background: #757575;
logo background: #2196F3;
background: #2F303A;
hover,focus: #2196F3


*/

:root {
  --main-color-body: #E5E5E5;
  --main-color-title: #212121;  
  --main-color-text: #757575;
  --main-color-header: #FFFFFF;
  --main-color-footer: #2F303A;
  --hover-focus: #2196F3;
  --team-bcg: #F5F4FA;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* body */
.body {
  background-color: var(--main-color-header);
  color: var(--main-color-title);
  font-family: Roboto, sans-serif;

  max-width: 1600px;
  /* width: 1200px;
  margin: 0 auto;
  padding: 0 15px; */

}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */
.page-header {
  background-color: var(--main-color-header);
    
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items:  center;
border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: flex;
  margin-right: 93px;
}
.site-nav .link.current {
  color: var(--hover-focus);
}

.link {
 
  color: var(--main-color-title);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  margin-left: 50px;
  
}

.site-nav{
  display: flex;
  
}

.nav-auth{
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
}

.auth {
  color: var(--main-color-text);
 
  
 
}

.link:hover, .link:focus {
  color: var(--hover-focus);
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  text-decoration: none;
  
  padding-left: 15px;
}

.logo-word {
  color: var(--hover-focus);
}



/* footer */
.basement {
  background-color: var(--main-color-footer);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
 
  padding-top: 60px;
 

}

.address {
  color: var(--main-color-header);
  
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.info-nav {
  padding: 0;  
}

.info {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
 
}

.logo-basement {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  text-decoration: none;
  
}



/* main */
.hero,
.title-hero {
  color: var(--main-color-header);
  background-color: #2F303A;
 
  font-family: 'Roboto', sans-serif;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  justify-content: center;
  margin: 0;

 
  text-transform: uppercase;
}

.title-hero {
  padding-top: 200px;
  
}
.hero{
  width: 1600px; 
  min-height: 600px;
  align-items: center;
}
.team {
  background-color: var(--team-bcg);
}

.button {
  color: var(--main-color-header);
  background-color: var(--hover-focus);
 
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
 
}

.hero-link {
  color: var(--main-color-header);
  background-color: var(--hover-focus);
 
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;

  margin-top: 30px;  
  border-radius: 4px;
 padding: 10px 32px;
}

.display-tasks,
.display-works {
  display: flex;
  margin: 0;
  justify-content: space-between;

}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  text-transform: uppercase;

  margin: 0;
  padding-top: 94px;
}

.display-tasks {
  padding: 0;
  padding-top: 94px;
  margin: 0;


}

.priority-tasks {
 
  margin-left: 30px;
  width: 270px;
  flex-direction: row; 
}
.priority-tasks:nth-child(1) {
  margin: 0;

}


.title-tasks {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
  
}

.main-task {
  color: var(--main-color-text);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
 
}


.display-works {
  padding: 0;
  margin-top: 50px;
  padding-bottom: 94px;
}

.work{
  margin-left: 30px;
  display: flex; 
}

.work:nth-child(1) {
  margin: 0;
}

.container-team.container {
  background-color: var(--team-bcg);
  
}

.team {
 
 margin: 0;

 font-weight: 700;
 font-size: 36px;
 line-height: 1.2;
 text-align: center;

 text-transform: uppercase;
 padding-top: 94px;

 
}

.title-team {
  background-color: var(--team-bcg);
 display: flex;
  padding: 0;
  margin: 0;
  padding-top: 50px ; 
  padding-bottom: 94px;
  justify-content: space-between;
  /* flex-basis: calc(100% / 3); */
}

.teamates {
  display: block;
  margin-left: 30px;
  background-color: var(--main-color-header);
 
}

.teamates:nth-child(1) {
  margin: 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-job {
  color: var(--main-color-text);

  font-size: 16px;
  line-height: 1.2;
}

/* portfolio */



.btn-nav {
  display: flex;
  justify-content: center;
  padding-top: 94px;

}


.btn:hover, .btn:focus {
color: var(--main-color-header) ;
background-color: var(--hover-focus);
}

.btn {
  color: var(--main-color-title);
  background-color: var(--team-bcg);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: Roboto, sans-serif;

  margin-left: 8px;
  border-radius: 4px;
  padding: 6px 22px;

  display: flex;
  align-items:  center;

}

.title-works {
  color: var(--main-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}

.flex-contaner {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 94px;
 
}

.flex-element {
  flex-basis: calc(100% / 3);
 
  display: block;
  margin-top: 34px;
  

}

.flex-element:nth-child(3n) {
  margin-right: 0;
}


.port-works {
 max-width: 370px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;

  padding: 20px 24px;
 margin: 0;
}
